*.iml
.gradle
/local.properties
.idea/
/.idea/libraries
.DS_Store
/build
/captures
.idea/misc.xml
.idea/compiler.xml
*.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
